#internal-style + p {
	color: yellow;
}

* {
	font-family: "Ariel", monospace;
	font-size: 16px;
}

h1 {
	font-size: 45px;
}

#things-to-learn {
	text-transform: uppercase;
}

.languages {
	background-color: yellowgreen;
}

[type] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 100%;
}

img + ol {
	list-style-type: none;
}

section img {
	height: 150px;
	width: 150px;
	border-radius: 75px;
}

img ~ p {
	text-align: center;
}

#other-things > li {
	letter-spacing: 0.75rem;
}